body {
    font-family: sans-serif;
    background-color: #18191A;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #C1C2C6;
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.container {
    text-align: center;
    color: #C1C2C6;
    margin: auto;
    width: auto;
    padding: 10px;
    border-radius: 7px;
}

.board {
    text-align: center;
    margin: auto;
    background-color:  #242526;
    border: 2px solid #C1C2C6;
    border-radius: 3px;
    /* border-radius: 3px; */
}

.board td {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    border: 2px solid #C1C2C6;
    border-radius: 2px;
    transition: 250ms;
}

.board td:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.buttons {
    margin: auto;
    text-align: center;
}

button {
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    margin-bottom: 7px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: auto;
    border: 1.5px solid #C1C2C6;
    border-radius: 3px;
    background-color: #242526;
    color: #C1C2C6;
    transition: 350ms;
}

.banners {
    margin: auto;
    /* margin-bottom: 20px; */
    text-align: center;
    /* line-height: 10px; */
}

.banner {
    margin: auto;
    margin-bottom: 10px;
    width: 20px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    transition: 350ms;
    font-size: 15px;
    border-radius: 2px;
}
 
button:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.message {
    display: none;
    text-align: center;
    color: #C1C2C6;
    margin: auto;
    font-size: 30px;
    text-decoration: underline;
}

#btn1:hover {
    background-color: #027F00;
    cursor: pointer;
}

#btn2:hover {
    background-color: #919100;
    cursor: pointer;
}

#btn3:hover {
    background-color: #A50000;
    cursor: pointer;
}
